@import './../../variables'
.layer
    min-height: 100vh
    display: flex
    flex-direction: column
    margin: 0 auto
    justify-content: space-between
.maincontent
    flex-grow: 1
.redBoll, .redBoll_sm
    position: absolute
    opacity: .7

.redBoll
    background-image: url('../../assets/images/red_ball_lg.png')

.redBoll_sm
    background-image: url('../../assets/images/red_ball_sm.png')

.header, .footer, .maincontent
    animation: appear 1s ease-out
@keyframes appear
    0%
        opacity: 0
        transform: translateY(-10%)
    100%
        opacity: 1
        transform: translateY(0%)

@media screen and (min-width: 1160px)
    .layer
        width: 1140px
@media screen and (min-width: 961px)
    .layer
        background: repeating-linear-gradient(90deg, $brown, $brown 70px, $black 70px, $black 100px)
    .header
        margin: 57px 16px 0 16px
    .radialBG
        position: absolute
        top: 50px
        left: -300px
        width: 650px
        height: 650px
        background: radial-gradient(311px circle at 330px 300px, $brown_light 20%, transparent)
        opacity: 0.5
        filter: blur(196px)
    .redBoll
        width: 117px
        height: 117px
        top: 37px
        left: 22rem

    .redBoll_sm
        width: 62px
        height: 62px
        top: 30rem
        left: 37rem

@media screen and (max-width: 960px)
    .layer
        background: repeating-linear-gradient(90deg, $brown, $brown 30px, $black 30px, $black 45px)
    .header
        margin-top: 1rem
        margin-bottom: 1rem
    .redBoll
        width: 117px
        height: 117px
        top: 33rem
        left: 1rem
        filter: blur(7px)

    .redBoll_sm
        width: 62px
        height: 62px
        top: 22rem
        right: 0rem
        filter: blur(5px)
